<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="index.html">SysProv</a>
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-title">Navigation</li>
        <li>
            <a href="#" ng-click="setContent('Home', 'home')"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
            <a href="#" ng-click="setContent('Cliente', 'cliente')"><span class="fa fa-desktop"></span> <span class="xn-text">Cliente</span></a>
        </li>
    </ul>
    <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->